<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
            <div id="root">
                <div class="container">

                    <div class="sidebar">
                      <div class="sidebar-left">
                          <div class="sidebar-left-logo">
                              <img :src="avatarUser" alt="">
                              <h4>{{nameUser}}</h4>
                          </div>
                        <div class="icons-left">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                <!-- sezione notifiche -->
                      <div class="box-notifiche">
                          <i class="far fa-bell-slash fa-2x"></i>
                          <div class="box-activate">
                            <div class="ricev-notifiche">
                              Ricevi notifiche nuovi messagi!
                            </div>
                            <div class="active-notif">
                              <a href="#">Attivà notifiche desktop</a>
                            </div>
                          </div>
                        </div>
                            <div class="search">
                  						<i class="fas fa-search"></i>
                  						<input  type="text" name="search-contact" id="" placeholder="Cerca o inizia una nuova chat"
                              v-model="searchInput" v-on:keyup="filteredContacts">
                  					</div>
                            <div class="contacts_list" v-for="(friend, index) in filteredContacts" @click="clickFriend(index)">
                                <li>
                                    <a href="#">
                                        <img :src="friend.avatar" alt="avatar">
                                    </a>
                                <div class="nomeAmico">
                                    <h4>{{ friend.name }}<h4>

                                </div>
                                </li>
                            </div>
                            <div class="contacts_list" v-for="(friend, index) in contacts" @click="clickFriend(index)">
                                <li>
                                    <a href="#">
                                        <img :src="friend.avatar" alt="avatar">
                                    </a>
                                <div class="nomeAmico">
                                    <h4>{{ friend.name }}<h4>

                                </div>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <!-- destra -->
                    <div class="right">
                        <!-- right-top -->
                        <div class="right-top">
                            <div class="img-contact-right">
                                <img :src="contacts[contactFriend].avatar" alt="">
                                <h4> {{contacts[contactFriend].name}} </h4>
                                <h5>Ultimo accesso oggi alle 15:40</h5>
                            </div>
                            <div class="icone-right">
                                <i class="fas fa-search"></i>
                                <i class="fas fa-paperclip"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        <!-- right middle -->
                        </div>
                        <div class="right-middle">
                            <div class="right-messages">
                                <div class="messaggi" v-for="dati in contacts[contactFriend].messages">
                                    <div :class="dati.status">
                                {{ dati.message}} </div>
                            </div>
                        </div>
                        </div>
                            <!-- right bottom -->
                        <div class="cont-footer">
                            <i class="far fa-smile"></i>
                            <input v-on:keyup.enter="inserisciMsg(nuovoMsg)" v-model="nuovoMsg" type="text" placeholder="Scrivi un messaggio">
                            <i class="fas fa-microphone"></i>
                        </div>
                </div>
            </div>

        <script src="js/main.js" charset="utf-8"></script>
    </body>
</html>
